<h1>Welcome to my website</h1>

<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Favourite Color
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a href="#">Red</a></li>
    <li><a href="#">Green</a></li>
    <li><a href="#">Blue</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="#">Yellow</a></li>
  </ul>
</div>

<img src="/images/basketball.png" class="img-thumbnail small-img">
