<h1>Subscribe to our mailing list</h1>
<form method="post" action="/subscribe">
  <div>
    <label for="full-name">Full Name</label>
    <input type="text" name="full_name" id="full-name">
  </div>
  <div>
    <label for="email">Email</label>
    <input type="email" name="email" id="email">
  </div>

  <input type="submit" value="Subscribe">
</form>
