<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cowsay Practice</title>
  </head>
  <body>
    <h1>Say Something..</h1>
    <form action="/say" method="POST">
      <div>
        <label>Sentence</label>
        <input type="text" name="sentence">
      </div>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
